@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /** COLORS */
  --rtc-text: #ffae14;
  --rtc-text-secundary: rgb(212, 212, 212);
  --rtc-color-background: #3b5b6d;
  --rtc-color-primary: #2f27ce;
  --rtc-color-secondary: #8ea5af;
  --rtc-color-accent: #433bff;
  --rtc-color-gradient: linear-gradient(
    135deg,
    #ffebcc 0%,
    #ffebcc 23%,
    #d69a38 50%,
    #3079a1 84%,
    #126a97 100%
  );

  --rtc-color-linearPrimarySecondary: linear-gradient(#2f27ce, #8ea5af);
  --rtc-color-linearPrimaryAccent: linear-gradient(#2f27ce, #433bff);
  --rtc-color-linearSecondaryAccent: linear-gradient(#8ea5af, #433bff);
  --rtc-color-radialPrimarySecondary: radial-gradient(#2f27ce, #8ea5af);
  --rtc-color-radialPrimaryAccent: radial-gradient(#2f27ce, #433bff);
  --rtc-color-radialSecondaryAccent: radial-gradient(#8ea5af, #433bff);

  /** FONTS  */
  --rtc-fontsize-h1: 4.21rem;
  --rtc-fontsize-h2: 3.158rem;
  --rtc-fontsize-h3: 2.369rem;
  --rtc-fontsize-h4: 2rem;
  --rtc-fontsize-h5: 1.5rem;
  --rtc-fontsize-p: 1.3rem;
  --rtc-fontsize-small: 0.75rem;

  /** SPACINGS  */
  --rtc-margin-xs: 0.5rem;
  --rtc-margin-s: 1rem;
  --rtc-margin-m: 1.5rem;
  --rtc-margin-l: 2rem;
  --rtc-margin-xl: 2.5rem;
  --rtc-margin-xl: 3rem;
  --rtc-margin-big: 4rem;

  --rtc-padding-xs: 0.5rem;
  --rtc-padding-s: 1rem;
  --rtc-padding-m: 1.5rem;
  --rtc-padding-l: 2rem;
  --rtc-padding-xl: 2.5rem;
  --rtc-padding-xl: 3rem;
  --rtc-padding-big: 4rem;

  --rtc-gap-xs: 0.2rem;
  --rtc-gap-s: 0.5rem;
  --rtc-gap-m: 0.7rem;
  --rtc-gap-l: 1rem;
  --rtc-gap-xl: 1.5rem;
  --rtc-gap-xl: 2rem;
  --rtc-gap-big: 3rem;
  /** Final de las variables */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: Lato, sans-serif;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}
header.display-flex {
  padding: var(--rtc-padding-m) (--rtc-padding-s);
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  width: 100%;
  height: 15%;
  background: var(--rtc-color-gradient);
}
.display-flex > img {
  width: 230px;
}
header.display-flex > nav {
  width: 50%;
}
header.display-flex > nav > ul {
  width: 100%;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: nowrap;
}
header.display-flex > nav > ul a {
  font-size: var(--rtc-fontsize-h5);
  text-decoration: underline;
  color: black;
  font-weight: 600;
}
header.display-flex > nav > ul > li:last-child {
  min-width: 144.06px;
}
#main-firstpage {
  background-color: #3b5b6d;
  background-image: url('https://www.transparenttextures.com/patterns/brushed-alum-dark.png');
  min-height: 70svh;
  width: 100%;
  color: var(--rtc-text);
  padding: var(--rtc-padding-m);
}
#main-firstpage > section:first-child {
  width: 55%;
}
#main-firstpage > section:first-child > h1 {
  font-size: var(--rtc-fontsize-h2);
  width: 10em;
  letter-spacing: 1px;
}
section:first-child > h1 ~ p {
  font-size: var(--rtc-fontsize-h5);
  text-align: justify;
  margin-top: var(--rtc-margin-xl);
  width: 90%;
}
