@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /** COLORS */
  --rtc-text: #ffae14;
  --rtc-text-primary: #ffffff;
  --rtc-text-secundary: rgb(212, 212, 212);
  --rtc-color-background: #f5f5f5;
  --rtc-color-background-opacity: #747474cf;
  --rtc-background-card: white;
  --rtc-color-primary: #2f27ce;
  --rtc-background-head: #072f74;
  --rtc-color-accent: #433bff;
  --rtc-color-button: #cb1836;
  --rtc-color-gradient: linear-gradient(
    135deg,
    #ffebcc 0%,
    #ffebcc 23%,
    #d69a38 50%,
    #3079a1 84%,
    #126a97 100%
  );

  --rtc-color-linearPrimarySecondary: linear-gradient(#2f27ce, #8ea5af);
  --rtc-color-linearPrimaryAccent: linear-gradient(#2f27ce, #433bff);
  --rtc-color-linearSecondaryAccent: linear-gradient(#8ea5af, #433bff);
  --rtc-color-radialPrimarySecondary: radial-gradient(#2f27ce, #8ea5af);
  --rtc-color-radialPrimaryAccent: radial-gradient(#2f27ce, #433bff);
  --rtc-color-radialSecondaryAccent: radial-gradient(#8ea5af, #433bff);

  /** FONTS  */
  --rtc-fontsize-h1: 4.21rem;
  --rtc-fontsize-h2: 3.158rem;
  --rtc-fontsize-h3: 2.369rem;
  --rtc-fontsize-h4: 2rem;
  --rtc-fontsize-h5: 1.5rem;
  --rtc-fontsize-p: 1.3rem;
  --rtc-fontsize-small: 0.75rem;

  /** SPACINGS  */
  --rtc-margin-xs: 0.5rem;
  --rtc-margin-s: 1rem;
  --rtc-margin-m: 1.5rem;
  --rtc-margin-l: 2rem;
  --rtc-margin-xl: 2.5rem;
  --rtc-margin-xl: 3rem;
  --rtc-margin-big: 4rem;

  --rtc-padding-xs: 0.5rem;
  --rtc-padding-s: 1rem;
  --rtc-padding-m: 1.5rem;
  --rtc-padding-l: 2rem;
  --rtc-padding-xl: 2.5rem;
  --rtc-padding-xl: 3rem;
  --rtc-padding-big: 4rem;

  --rtc-gap-xs: 0.2rem;
  --rtc-gap-s: 0.5rem;
  --rtc-gap-m: 0.7rem;
  --rtc-gap-l: 1rem;
  --rtc-gap-xl: 1.5rem;
  --rtc-gap-xl: 2rem;
  --rtc-gap-big: 3rem;
  /* Border radius */
  --rtc-border-radius: 0.5em 0 0 0.5em;
  /** Box Shadows  */
  --rtc-boxshadow-primary: 3px 2px 76px -28px rgb(181, 179, 181);
  /** Final de las variables */
  max-width: 100svw;
}
* {
  max-width: 100svw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: Lato, sans-serif;
  background-color: var(--rtc-color-background);
}
.color-text {
  color: var(--rtc-text);
}
.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.season-offer {
  width: 100%;
  background-color: var(--rtc-color-background);
  position: sticky;
  top: 0;
  height: 3em;
  z-index: 2;
}
.season-offer > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #e27a6e;
  font-size: var(--rtc-fontsize-h5);
  font-weight: 600;
}
.season-offer > a > img {
  width: 50px;
  height: 40px;
}

header.display-flex > img {
  width: 15.63em;
}
header.display-flex {
  padding: var(--rtc-padding-m) (--rtc-padding-s);
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
  position: fixed;
  top: 48px;
  width: 100%;
  height: 96px;
  background-color: var(--rtc-background-head);
  z-index: 2;
}
.chart-images {
  width: 10em;

  margin-right: 1em;
  gap: 5px;
  cursor: pointer;
  justify-content: space-evenly;
}
article.chart-images > * {
  width: 64px;
  height: 40px;
}

nav {
  position: fixed;
  top: 144px;
  width: 100%;
  height: 60px;
  align-content: center;
  justify-content: space-around;
  padding: 0 var(--rtc-padding-xl);
  background-color: var(--rtc-color-background);
}
nav > ul {
  width: fit-content;
  justify-items: center;
  gap: 20px;
  flex-wrap: nowrap;
}
nav > ul a {
  font-size: var(--rtc-fontsize-p);
  color: rgb(87, 87, 87);
  font-weight: 500;
  text-transform: capitalize;
}
nav > ul a::after {
  content: '▼';
}
nav > ul > li {
  width: fit-content;
  gap: 100px;
}
section.buscador {
  height: 100%;
  background-color: var(--rtc-color-background);
  border-radius: 3px 0 0 3px;
  display: flex;
  width: 46.62em;
  position: sticky;
  align-items: center;
  top: 21%;
  z-index: 2;
  background-color: var(--rtc-background-head);
}
section.buscador > div {
  width: 46.67em;
}
section.buscador > div > input {
  height: 2.75em;
  border: none;
  background-color: white;
  width: 46.67em;
  padding: 0 0.9em;
  border-radius: var(--rtc-border-radius);
}
button {
  width: 3.125em;
  height: 36.66px;
  background-color: var(--rtc-color-button);
  padding: 0.4em;
  cursor: pointer;
  border: none;
}
button > img {
  filter: brightness(140%);
}
#login {
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 6em;
  font-size: var(--rtc-fontsize-p);
}
#login::after {
  content: '';
  background-color: var(--rtc-color-background);
  position: absolute;
  top: 40%;
  right: 0;
  height: 37px;
  width: 1px;
}

#login > p:last-child {
  cursor: pointer;
}
#login > p:last-child::after {
  content: '▼';
}
form {
  display: none;
}
input::placeholder {
  color: rgb(146, 146, 146);
}
.icono-lupa {
  width: 100%;
  height: 100%;
}
#main-frontpage {
  max-height: 100svw;
  width: 100%;
  height: 520px;
  flex-direction: column;
  margin-top: 156px;
}
article#main-firstpage > img:first-child {
  width: 100%;
  object-fit: cover;
}
#second-content {
}
section:nth-child(2) > h1 ~ p {
  font-size: var(--rtc-fontsize-h5);
  text-align: justify;
  margin-top: var(--rtc-margin-xs);
  padding: 0 var(--rtc-padding-big);
  width: 95%;
}
#main-firstpage > section:nth-child(2) > button {
  width: 20em;
  height: 4.5em;
  background-color: var(--rtc-color-button);
  text-transform: uppercase;
  color: var(--rtc-text-secundary);
  font-weight: 700;
  border: none;
  border-radius: 0 171px 0 171px;
  cursor: pointer;
}
#main-firstpage > section:nth-child(2) > button:hover {
  color: white;
}
#main-firstpage > section:nth-child(3) {
  margin: 0 var(--rtc-margin-xl);
  justify-content: space-around;
  gap: 3em;
}
#main-firstpage > section:nth-child(3) > h2 {
  font-size: var(--rtc-fontsize-h2);
  width: 100%;
  text-align: center;
}
#main-firstpage > section:nth-child(3) {
  column-gap: 40px;
  justify-content: space-around;
  flex-wrap: wrap;
}
#main-firstpage > section:nth-child(3) > article {
  width: 15%;
  text-align: center;
  justify-content: center;
}
#main-firstpage > section:nth-child(3) > article > h3 {
  width: fit-content;
}
#main-firstpage > section:nth-child(3) > article > a:link {
  color: var(--rtc-color-accent);
}
#main-firstpage > section:nth-child(3) > article > a:visited {
  color: purple;
}

#main-firstpage > section:nth-child(3) > article > a > img {
  width: 100%;
}
#main-firstpage > section:nth-child(3) > article > a > img:first-child {
  transform: scale(0.8);
  width: 15.62em;
  height: 15.62em;
  border-radius: 50%;
}

section.information-services {
  max-width: 100svw;
  background-color: var(--rtc-color-background-opacity);
  height: fit-content;
}
section.information-services > article {
  width: 25%;
  padding: var(--rtc-padding-l);
  justify-content: space-around;
}
section.information-services > article > img {
  width: 3em;
  height: 3em;
}
section.information-services > article > img ~ * {
  width: 9.37em;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
section.information-services > article:not(article:nth-child(2)) > img,
article:not(article:nth-child(4)) > img {
  background-color: white;
}
#service {
  width: 100%;
  justify-content: space-around;
  background-color: var(--rtc-color-background);
  background-image: url('https://www.transparenttextures.com/patterns/brushed-alum-dark.png');
}
#service > div {
  width: 26%;
  position: relative;
  gap: 10px;
  flex-direction: column;
  height: 300px;
}
#service > div:nth-child(2) {
  width: 42%;
  position: relative;
  flex-direction: column;
}

#service > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#service > div > *:not(img) {
  position: absolute;
  right: 0;
  width: 12.25em;
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: rgb(130 122 122 / 61%);
  z-index: 1;
}
#service > div > p {
  top: 20%;
  right: 0;
  width: 14.25em;
}
#featured-products {
  padding: 0 var(--rtc-padding-xs);
  justify-content: center;
}
#featured-products > h2 {
  width: 100%;
  text-align: center;
  font-size: var(--rtc-fontsize-h3);
}
#featured-products > div {
  position: relative;
  flex-direction: column;
  width: 15%;
}

#featured-products > div > a > img {
  height: 300px;
  width: 100%;
}
#featured-products > div > * {
  background-color: white;
  border: none;
}
