@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  /** COLORS */
  --rtc-text: #ffae14;
  --rtc-text-secundary: rgb(212, 212, 212);
  --rtc-color-background: #3b5b6d;
  --rtc-color-background-opacity: #747474cf;
  --rtc-background-card: white;
  --rtc-color-primary: #2f27ce;
  --rtc-color-secondary: #8ea5af;
  --rtc-color-accent: #433bff;
  --rtc-color-button: #e5ab2a;
  --rtc-color-gradient: linear-gradient(
    135deg,
    #ffebcc 0%,
    #ffebcc 23%,
    #d69a38 50%,
    #3079a1 84%,
    #126a97 100%
  );

  --rtc-color-linearPrimarySecondary: linear-gradient(#2f27ce, #8ea5af);
  --rtc-color-linearPrimaryAccent: linear-gradient(#2f27ce, #433bff);
  --rtc-color-linearSecondaryAccent: linear-gradient(#8ea5af, #433bff);
  --rtc-color-radialPrimarySecondary: radial-gradient(#2f27ce, #8ea5af);
  --rtc-color-radialPrimaryAccent: radial-gradient(#2f27ce, #433bff);
  --rtc-color-radialSecondaryAccent: radial-gradient(#8ea5af, #433bff);

  /** FONTS  */
  --rtc-fontsize-h1: 4.21rem;
  --rtc-fontsize-h2: 3.158rem;
  --rtc-fontsize-h3: 2.369rem;
  --rtc-fontsize-h4: 2rem;
  --rtc-fontsize-h5: 1.5rem;
  --rtc-fontsize-p: 1.3rem;
  --rtc-fontsize-small: 0.75rem;

  /** SPACINGS  */
  --rtc-margin-xs: 0.5rem;
  --rtc-margin-s: 1rem;
  --rtc-margin-m: 1.5rem;
  --rtc-margin-l: 2rem;
  --rtc-margin-xl: 2.5rem;
  --rtc-margin-xl: 3rem;
  --rtc-margin-big: 4rem;

  --rtc-padding-xs: 0.5rem;
  --rtc-padding-s: 1rem;
  --rtc-padding-m: 1.5rem;
  --rtc-padding-l: 2rem;
  --rtc-padding-xl: 2.5rem;
  --rtc-padding-xl: 3rem;
  --rtc-padding-big: 4rem;

  --rtc-gap-xs: 0.2rem;
  --rtc-gap-s: 0.5rem;
  --rtc-gap-m: 0.7rem;
  --rtc-gap-l: 1rem;
  --rtc-gap-xl: 1.5rem;
  --rtc-gap-xl: 2rem;
  --rtc-gap-big: 3rem;

  /** Box Shadows  */
  --rtc-boxshadow-primary: 3px 2px 76px -28px rgb(181, 179, 181);
  /** Final de las variables */
  max-width: 100svw;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: Lato, sans-serif;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}
header.display-flex {
  padding: var(--rtc-padding-m) (--rtc-padding-s);
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  width: 100%;
  height: 15%;
  background: var(--rtc-color-gradient);
  z-index: 2;
}
.display-flex > img {
  width: 150px;
}
header.display-flex > nav {
  width: 50%;
}
header.display-flex > nav > ul {
  width: 100%;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: nowrap;
}
header.display-flex > nav > ul a {
  font-size: var(--rtc-fontsize-p);
  text-decoration: underline;
  color: black;
  font-weight: 600;
}
header.display-flex > nav > ul > li:last-child {
  min-width: 144.06px;
}
section.buscador {
  height: 2em;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 15%;
  z-index: 2;
  background-color: var(--rtc-color-background);
}
input {
  display: flex;
  width: 40%;
  border: none;
  background-color: white;
  height: 80%;
  align-items: center;
}
button {
  height: 26px;
  background-color: #150edb;
  cursor: pointer;
}
input::placeholder {
  color: rgb(146, 146, 146);
}
.icono-lupa {
  width: 100%;
  height: 100%;
}
#main-firstpage {
  background-color: #3b5b6d;
  background-image: url('https://www.transparenttextures.com/patterns/brushed-alum-dark.png');
  min-height: 100%;
  width: 100%;
  color: var(--rtc-text);
  padding: var(--rtc-padding-m);
  flex-direction: column;
  gap: 25px;
}

#main-firstpage > section:first-child {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 24px;
  position: relative;
  margin: 0 auto;
  transition: grid-template-columns 0.5s ease-in-out;
}
#main-firstpage > section:first-child > * {
  width: 100%;
  height: 350px;
  border-radius: 2em;
}
#main-firstpage > section:first-child:has(.first-img:hover) {
  grid-template-columns: 1fr 0.5fr 0.5fr;
}
#main-firstpage > section:first-child:has(.second-img:hover) {
  grid-template-columns: 0.5fr 1fr 0.5fr;
}
#main-firstpage > section:first-child:has(.third-img:hover) {
  grid-template-columns: 0.5fr 0.5fr 1fr;
}
#main-firstpage > section:first-child > *:hover {
  filter: brightness(120%) saturate(150%);
  height: 400px;
  transition: all 0.5s ease-in-out;
  box-shadow: var(--rtc-boxshadow-primary);
}
#main-firstpage > section:nth-child(2) {
  width: 100%;
  height: fit-content;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#main-firstpage > section:nth-child(2) > h1 {
  margin-top: var(--rtc-margin-m);
  font-size: var(--rtc-fontsize-h1);
  padding: 0 var(--rtc-padding-big);
  text-align: center;
  letter-spacing: 1px;
}
section:nth-child(2) > h1 ~ p {
  font-size: var(--rtc-fontsize-h5);
  text-align: justify;
  margin-top: var(--rtc-margin-xs);
  padding: 0 var(--rtc-padding-big);
  width: 95%;
}
#main-firstpage > section:nth-child(2) > button {
  width: 20em;
  height: 4.5em;
  background-color: var(--rtc-color-button);
  text-transform: uppercase;
  color: var(--rtc-text-secundary);
  font-weight: 700;
  border: none;
  border-radius: 0 171px 0 171px;
  cursor: pointer;
}
#main-firstpage > section:nth-child(2) > button:hover {
  color: white;
}
#main-firstpage > section:nth-child(3) {
  margin: 0 var(--rtc-margin-xl);
  justify-content: space-around;
  gap: 3em;
}
#main-firstpage > section:nth-child(3) > h2 {
  font-size: var(--rtc-fontsize-h2);
  width: 100%;
  text-align: center;
}
#main-firstpage > section:nth-child(3) {
  column-gap: 40px;
  justify-content: space-around;
  flex-wrap: wrap;
}
#main-firstpage > section:nth-child(3) > article {
  width: 15%;
  text-align: center;
  justify-content: center;
}
#main-firstpage > section:nth-child(3) > article > h3 {
  width: fit-content;
}
#main-firstpage > section:nth-child(3) > article > a:link {
  color: var(--rtc-color-accent);
}
#main-firstpage > section:nth-child(3) > article > a:visited {
  color: purple;
}

#main-firstpage > section:nth-child(3) > article > a > img {
  width: 100%;
}
#main-firstpage > section:nth-child(3) > article > a > img:first-child {
  transform: scale(0.8);
  width: 15.62em;
  height: 15.62em;
  border-radius: 50%;
}

section.information-services {
  max-width: 100svw;
  background-color: var(--rtc-color-background-opacity);
  height: fit-content;
}
section.information-services > article {
  width: 25%;
  padding: var(--rtc-padding-l);
  justify-content: space-around;
}
section.information-services > article > img {
  width: 3em;
  height: 3em;
}
section.information-services > article > img ~ * {
  width: 9.37em;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
section.information-services > article:not(article:nth-child(2)) > img,
article:not(article:nth-child(4)) > img {
  background-color: white;
}
#service {
  width: 100%;
  justify-content: space-around;
  background-color: var(--rtc-color-background);
  background-image: url('https://www.transparenttextures.com/patterns/brushed-alum-dark.png');
}
#service > div {
  width: 26%;
  position: relative;
  gap: 10px;
  flex-direction: column;
  height: 300px;
}
#service > div:nth-child(2) {
  width: 42%;
  position: relative;
  flex-direction: column;
}

#service > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#service > div > *:not(img) {
  position: absolute;
  right: 0;
  width: 12.25em;
  color: rgb(255, 255, 255);
  font-weight: 700;
  background-color: rgb(130 122 122 / 61%);
  z-index: 1;
}
#service > div > p {
  top: 20%;
  right: 0;
  width: 14.25em;
}
#featured-products {
  padding: 0 var(--rtc-padding-xs);
  justify-content: center;
}
#featured-products > h2 {
  width: 100%;
  text-align: center;
  font-size: var(--rtc-fontsize-h3);
}
#featured-products > div {
  position: relative;
  flex-direction: column;
  width: 15%;
}

#featured-products > div > a > img {
  height: 300px;
  width: 100%;
}
#featured-products > div > * {
  background-color: white;
  border: none;
}
